/* Box sizing rule */
html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  /* Remove default margin and padding */
  body,
  h1, h2, h3, h4, h5, h6,
  p,
  blockquote,
  pre,
  dl,
  dd,
  ol,
  ul,
  figure,
  hr,
  fieldset,
  legend {
    margin: 0;
    padding: 0;
  }
  
  /* Set default font styles */
  body {
    line-height: 1.6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .wrapper{
    position: relative;
    z-index: 1;

  }
  /* Remove list styles */
  ol, ul {
    list-style: none;
  }
  
  /* Remove hyperlinks default styles */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Remove table border spacing */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header_img{
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #f2f2f2;
}

.logo {
    float: left;
    /* padding: 15px 0; */
}
.logo img{
    width: 30px;

}

nav {
    padding-top: 8px;
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

/* Бургер-меню */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: transform 0.4s, opacity 0.4s;
}

/* Стили для разделов */
section {
    padding: 20px;
}
/* About */
.about_conteiner{
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px 0;
}
.about_img{
    min-width: 20vw;
    margin-right: 2vw;
    border-radius: 15px;
}
.about_text h1{
    margin-bottom: 20px;
}
/* Menu */
.menu_conteiner {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px 0px;
}
.menu_title{
    margin-bottom: 20px;
}
.menu {
    max-width: 60vw;
    display: flex;
    margin: 0 auto;
    box-shadow: 4px 5px 37px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 5px 37px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 5px 37px -7px rgba(0,0,0,0.75);
}
/* Gallery */

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .image-gallery > li {
    flex-basis: 350px; /* width: 350px; */

  }
  
  .image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: 350px;
    vertical-align: middle;
    border-radius: 5px;
}

/* Стили для футера */
.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #C2DFFF;
    color: black;
    text-align: left;
    padding: 10px 40px;
}

/* Адаптивные стили */
@media only screen and (max-width: 800px) {
    .non_mobile{
        display: none;
    }
    .nav-menu {
        display: none;
        width: 100%;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}
